.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar {
  background-color: #003f5c !important;
}

.navbar-brand {
  color: white !important;
  font-weight: bold !important;
}
.nav-link {
  color: #fff !important;
}

.content {
  padding-top: 48px;
}

.footer {
  background-color: #003f5c;
  text-align: center;
  padding: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* button css */
button {
  background-color: #003f5c;
  box-shadow: none;
  color: white;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.692);
}

button:hover {
  background-color: green;
}

/* loader */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 99999;
}
.spinner-border {
  height: 100px;
  width: 100px;
}

a {
  text-decoration: none;
}

input,
select {
  height: 35px !important;
}

#uncontrolled-tab-example-tab-products {
  color: black !important;
}
.nav-item button {
  color: black !important;
}

.nav-tabs {
  background-color: cadetblue;
}
